@CHARSET "UTF-8";
#blook3{
 height: 80px;
 border-bottom: 5px solid #FF0461;
 text-align: center;
 background-color: #CCFFCC;
}
#blook4{
 background-color: #99FFCC;
 text-align: center;
 height: 600px;
}
#blook5{
}
h2{
 margin-top: 0;
 margin-left: 0;
 margin-right: 0;
 margin-bottom: 0;
  position: relative;
  top: 28px;
}
ul{
 margin-top: 0;
 margin-left: 0;
 margin-right: 0;
 margin-bottom: 0;
}
body{
 border: 5px solid #FF0461;
 margin-top: 0;
 margin-left: 0;
 margin-right: 0;
 margin-bottom: 0;
}
#button1{
 position: relative;
  top: 20px;
}
#button2{
 position: relative;
  top: 15px;
}